// Header site

.headerSite {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid red;
	padding: 20px 10px;
}
.contactsSite {
	display: flex;
	&__number {
		color: $black;
		img {
			height: 20px;
			margin-right: 5px;
		}
	}
	&__left {
		border-right: 2px solid $midlleGray;
		margin-right: 15px;
		padding-right: 15px;
	}
	&__tel {
		font-size: 18px;
	}
	&__right {

	}
	&__moreTel {
		line-height: 24px;
		text-decoration: underline dashed $lightBlue;
	}
}

.linkSite {
	&__bold {
		font-size: 14px;
		font-weight: 740;
		line-height: 24px;
	}
}


