
.conteinerSite {
	background-image: url(src/images/icons/fig4.png);
}

.autoSpec {
	&_class {
		display: flex;
	}
}
.select {
	display: flex;
	flex-direction: row;
	align-items: center;

	p {
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
	}
}
.autoClass {
	&__class {
		position: relative;
		width: 25%;
		padding: 100px 20px 0;
		img {
			width: 150px;
			position: absolute;
			top: 20px;
			right: 50px;
		}
	}
	&__linkBox {
		display: flex;
		height: 100px;
		background: gray;
		font-weight: normal;
		font-size: 20px;
		padding-top: 40px;
		border-radius: 10px;

	}
	&__link {
		display: block;
		background: $lightGray;
		color: $black;
		padding: 2px 18px;
		width: 100%;
		text-align: center;
		border-radius: 0 0 9px 9px;
		transition: all 0.3s;
		&:hover {
			background: $lime;
			color: $white;
		}
	}
}

.radius {
	display: flex;
	justify-content: flex-start;
	margin-top: 50px;
}

.radius__select {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 15px;

	p {
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
	}
}

.type {
	display: flex;
	margin-top: 70px;

	&__select {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 10px;
		height: 30%;

		p {
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
		}
}
	&__selectButton {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 50px;
		width: 700px;
		a {
			width: 22%;
			margin-bottom: 18px;
			text-align: center;
		}
		}
}