.weelSaleSpecific {
		

}
.weelSale {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	&__item {
		width: 33.333%;
		padding: 30px 20px;
		border: 1px solid #eeeeee;
		background-color: $white;
	}
}
