.specific_weel {
	// display: flex;
	// flex-direction: row;
	// justify-content: start;
	// align-items: flex-end;
	.ifobox {
		width: 130px;
		height: 35px;
		background-color: #eeeeee;
		padding: 10px 15px;
		font-size: 18px;
		& + .ifobox {
			border-left: 1px solid $black;
		}
	}
	.price_green {
		color: $lime;
		font-size: 24px;
	}
}