.btnSite {
	background: $btn-background;
	color: $btn-color;
	&--text {
		padding: 1px 3px;
		border-radius: 5px;
	}
	&--sizeSmall {
		font-size: 12px;
	}
	&--sizeMidlle {
		font-size: 18px;
		border-radius: 5px;
		padding: 15px 18px;
		box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15);
		background-image: linear-gradient(to top, #4c9c17 0%, #73b422 100%);
		border: 1px solid #bbbbbb;
	}
	&--sizeBig {
		font-size: 18px;
		border-radius: 5px;
		padding: 12px 29px 13px 55px;	
	}
	&--white {
		background: $white;
		color: $black;
		border: 1px solid $lightGray;
		font-weight: bold;
	}
	&--gray {
		background: $lightGray;
		color: $black;
		font-weight: bold;
	}
	&--yellow {
		background: $turbo;
		border: 1px solid #bbbbbb;
		box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15);
		background-image: linear-gradient(to top, #ffffff 0%, #ffc002 100%);
	}
}