.btnSite {
	background: $btn-background;
	color: $btn-color;
	transition: all 0.3s;
	&--text {
		padding: 1px 3px;
		border-radius: 5px;
	}
	&--sizeSmall {
		font-size: 12px;
	}
	&--sizeMidlle {
		font-size: 18px;
		border-radius: 2px;
		padding: 15px 18px;
	}
	&--sizeBig {
		font-size: 18px;
		border-radius: 5px;
		padding: 12px 29px 13px 55px;	
	}
	&--white {
		background: $white;
		color: $black;
		border: 2px solid $lightGray;
		font-weight: bold;
		&.is-active {
			box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15);
			background-image: linear-gradient(to top, #4c9c17 0%, #73b422 100%);
			border: 1px solid $lightGray;
		}
		&:hover {
			background: $lightGray;
			color: $black;
		}
	}
	&--gren {
		background-color: $lime;

	}
	&--gray {
		background: $lightGray;
		color: $black;
	}
	&--yellow {
		background: $turbo;
		border: 1px solid $lightGray;
		box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15);
		background-image: linear-gradient(to top, #ffffff 0%, #ffc002 100%);
	}
}